fastapi
uvicorn
sse-starlette
requests
PyGithub
pydantic
pydantic-settings
python-dotenv
GitPython
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-text-splitters
langchain-huggingface>=0.0.3
faiss-cpu
gunicorn